<!--Displays to the user that the mock payment was successful.-->
<br>
<br>
<div align="center">
<h1 class="text-success text-center">Thank You</h1>
<br>
<img src="~/img/Payment_Success_Icon.png">
<br>
<h1 class="text-success text-center">Payment Successful!</h1>
</div>
<br>
<form asp-action="CheckOrders">
<button type="submit" class="btn btn-success">View Order</button>
</form>

