@model FindYourStoryApp.Models.Cart
@{
	ViewData["Title"] = "View Cart";
}
<head>
    <!--Uses the SuperHero Style sheet.
    Medium (2022) demonstrates how to reference a style sheet.-->
    <link rel="stylesheet" href="~/css/Lux_StyleSheet.css" />
</head>
<form asp-action="Cart">
    <br>
    <div align="center">
        <!--W3Schools (2023) demonstrates the <section> tag.-->
        <!--FOREACH LOOP loops through all the books in the list and displays each book title, as well as the associated quantity.-->
        @foreach (var book in ViewBag.FullCart)
        {
            <section>
                <h4>@book.BookTitle</h4>
                <p>@book.TotalQuantity</p>
            </section>
            <br>
            <br>
        }<!--end of FOREACH LOOP-->
    </div>
</form>