<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FindYourStoryApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--Adds the Lux CSS to the layout-->
    <link rel="stylesheet" href="~/css/Lux_StyleSheet.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FindYourStoryApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand">Find Your Story</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <!--IF statement checks if the user has sucessfully logged in through using Firebase Authentication, and if so, displays the 
                            email of the user currently logged in, in place of the previous "Register/Log In" navigation item, ELSE, the "Register/Log In"
                            navigation item will be shown.
                        -->
                        @if (!string.IsNullOrEmpty(ViewBag.UserLoggedIn))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/img/Profile_Icon.png" height="40" width="40" />
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="User" asp-action="UserProfile">View Profile</a>
                                    <a class="dropdown-item" asp-controller="User" asp-action="Logout">Log Out</a>
                                </div>
                            </li>
                        }
                        else
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Register/Log In</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="User" asp-action="Register">Register</a>
                                <a class="dropdown-item" asp-controller="User" asp-action="Login">Log In</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        }

                        <!--IF statement checks if the user logged in, through using the session, has a user role of type Admin, and if so,
                            displays a drop-down list of all the tables in the database that they can manage.
                        -->
                        @if (ViewBag.UserRole == "Admin")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage Database</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="AdminUser" asp-action="Index">Manage Users</a>
                                    <a class="dropdown-item" asp-controller="AdminRole" asp-action="Index">Manage Roles</a>
                                    <a class="dropdown-item" asp-controller="AdminProduct" asp-action="Index">Manage Products</a>
                                    <a class="dropdown-item" asp-controller="AdminOrder" asp-action="Index">Manage Orders</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Order" asp-action="ViewOrder">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="ViewCart" >
                                <img src="~/img/Shopping_Cart_Icon.png" height="30" width="30" />
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex" asp-controller="Home" asp-action="SearchBooks">
                        <input size="30" name="searchQuery" type="search" placeholder="Search for books by title..." class="form-control me-sm-2 text-dark">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit" >Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FindYourStoryApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--Included the URL so that the latest version of Boostrap is used.-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
